@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --font-poppins: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

.writing-vertical-lr {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.font-noto {
  font-family: var(--font-noto);
}

.font-fredoka {
  font-family: var(--font-fredoka);
}

.font-lobster {
  font-family: var(--font-lobster);
}

/* Enable smooth scrolling for the page */
html {
  scroll-behavior: smooth;
}

@keyframes rotateGradientReverse {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes glowLineAnimation {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 12px #1E99FE, 0 0 15px rgba(30, 153, 254, 0.3);
  }

  25% {
    transform: rotate(90deg);
    box-shadow: 0 0 12px #6A38F5, 0 0 15px rgba(106, 56, 245, 0.3);
  }

  50% {
    transform: rotate(180deg);
    box-shadow: 0 0 12px #EB8145, 0 0 15px rgba(235, 129, 69, 0.3);
  }

  75% {
    transform: rotate(270deg);
    box-shadow: 0 0 12px #EA245A, 0 0 15px rgba(234, 36, 90, 0.3);
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 12px #1E99FE, 0 0 15px rgba(30, 153, 254, 0.3);
  }
}

/* Header AI BG animations */
@keyframes rotate-clockwise {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-counter-clockwise {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}